@import 'reset';
@import 'grid';

body {
    font: 400 16px 'Open Sans', sans-serif;
}

header.header {
    padding: 15px 0;
    border-bottom: 1px solid #f4f4f4;
    .btn {
        line-height: 1.4;
    }
}

path,a {
    transition: .2s;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    transition: .2s;
    cursor: pointer;
    line-height: 1.6;
    &:focus {
        outline: none;
    }
}
.btn.btn-success {
    background-color: #0AC273;
    color: #fff;
    &:hover {
        background-color: #0c9b5d;
    }
}
.btn.btn-primary {
    background-color: #1F4CED;
    color: #fff;
    &:hover {
        background-color: #1d3fb9;
    }
}
.btn[disabled] {
    background-color: #c3cde1;
    color: #6D789E;
    cursor: default;
    &:hover {
        background-color: #c3cde1;
    }
}
.btn-upload {
    display: flex;
    padding: 8px 15px;
    background-color: #f7f7f7;
    border: 1px solid #DDE6F8;
    color: #6D789E;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
    border-radius: 6px;
    align-items: center;
    .ico {
        margin-right: 10px;
    }
    &:hover {
        color: #fff;
        border-color: #1F4CED;
        background-color: #1F4CED;
        path {
            stroke: #fff;
        }
    }
    
}

.user-info {
    font-size: 15px;
    font-weight: 500;
    .user-thumb {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .user-name {
        color: #414145;        
    }
    .user-email {
        color: #C0C0C1;
        font-size: 13px;
    }
}

input {
    font: 500 16px 'Open Sans', sans-serif;
}

.first-window-layout-wrap {
    padding: 30px 0;
    .layout-wrap {
        position: relative;
    }
    .bg-layout {
        position: absolute;
        width: 100%;
        height: 400px;
        border-radius: 32px;
        overflow: hidden;
        background: url(../images/bg-layout.png) center center no-repeat;
    }
    .layout-info {
        position: relative;
        z-index: 2;
        padding: 20px 0;
    }
    .title-layout {
        font-size: 40px;
        font-weight: 500;
        color: #6D789E;
        margin-bottom: 20px;
        text-align: center;
        line-height: 1.2;
    }
    .name-app-input {
        padding: 17px 25px;
        display: block;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0px 15px 47px rgba(31, 76, 237, 0.06);
        margin-bottom: 8px;
        background-color: #fff;
        &::placeholder {
            color: #B1C0DD;
        }
    }
    .row-tiles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
        margin-bottom: 20px;
    }
    .tile {
        padding: 20px;
        height: 260px;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 0px 15px 47px rgba(31, 76, 237, 0.06);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        .tile-title {
            font-size: 22px;
            color: #6D789E;
        }
        .lay {
            height: 120px;
            border-radius: 16px;
            box-shadow: 0px 15px 47px rgba(31, 76, 237, 0.06);
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.marker {
                width: 120px;
            }
            &.file {
                .list-icons {
                    padding: 0 10px;
                    img {
                        margin: 0 10px;
                    }
                }
                color: #6d789e;
                font-size: 16px;

            }
        }
    }
}

.title-container {
    font-size: 20px;
    color: #5A5B5D;
    margin-bottom: 10px;
    font-weight: 500;
}

.list-apps-wrapper {
    display: flex;
    width: 100%;
    &.active {
        .list-app {
            width: 75%;
            padding-right: 60px;
        }
        .info-app {
            opacity: 1;
            transform: scale(1);
            width: 25%;
            padding: 20px;
            height: 500px;
        }
    }
    .list-head {
        padding: 10px 20px;
        background-color: #F7F7F7;
        border-radius: 8px;
        font-weight: 600;
        font-size: 15px;
    }
    .object-col,.date-col,.time-col {
        width: 15%;
    }
    .action-col {
        width: 100px;
    }

    .item-app,.item-app-guest {
        padding: 15px 20px;
        border-bottom: 1px solid #F2F2F3;
        transition: .2s;

        .btn-edit,.btn-remove {
            padding: 0;
            border: none;
            background-color: transparent;
            margin: 0 3px;
        }
        .btn-edit:hover {
            path {
                fill: #1f4ced;
            }
        }
        .btn-remove:hover {
            path {
                stroke: #bc0714;
            }
        }
    }
    .item-app {
        &.active {
            background-color: #F8FAFE;
        }
        &:hover {
            cursor: pointer;
            background-color: #F8FAFE;
        }
    }
    .empty-elem {
        height: 8px;
        border-radius: 10px;
        background-color: #F8FAFE;
        display: inline-block;
    }

    .list-app {
        width: 100%;
        transition: .3s;
    }
    .info-app {
        border: 1px solid #F8FAFE;
        box-shadow: 0px 15px 47px rgba(31, 76, 237, 0.06);
        border-radius: 16px;
        padding: 0;
        margin-top: -20px;
        width: 0%;
        height: 0px;
        opacity: 0;
        transition: .3s;
        overflow: hidden;
        transform: scale(0);
        .col-img {
            width: 45%;
            margin-bottom: 50px;
            img {
                border: 1px solid #C0C0C1;
                border-radius: 8px;
            }
            a {
                color: #1F4CED;
                font-size: 14px;
                font-weight: 500;
                text-decoration: underline;
                &:hover {
                    color: #000;
                    text-decoration: none;
                }
            }
        }
        .title-block {
            color: #C0C0C1;
            font-weight: 500;
            margin-bottom: 10px;
            margin-top: 20px;
            font-size: 14px;
        }

        .item-detail {
            display: grid;
            grid-template-columns: 1fr 3fr;
            column-gap: 10px;
            padding: 7px 0;
            .label-text {
                color: #C0C0C1;
                font-size: 15px;
                font-weight: 600;
            }
            .text {
                font-size: 15px;
            }
            img {
                vertical-align: middle;
                margin-left: 7px;
                width: 20px;
                margin-top: -2px;
            }
        }
        .title-container.title-detail {
            color: #000;
        }
    }
}

.pagination {
    padding: 20px 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    li {
        padding: 0 10px;
        &.active {
            a {
                color: #1F4CED;
                font-weight: 600;
            }
        }
    }
    a {
        font-size: 15px;
        color: #414145;
        &:hover {
            color: #1F4CED;
            font-weight: 600;
        }
    }
    .arrow-left,.arrow-right {
        a {
            display: inline-block;
            text-align: center;
            width: 28px;
            height: 28px;
            padding: 1px 0;
            border: 1px solid #C0C0C1;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 2px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.04);
            border-radius: 6px;
            &:hover {
                border-color: #1f4ced;
            }
        }
    }
}

.btn-create-project {
    position: fixed;
    right: 10vw;
    bottom: 10vh;
    z-index: 9;
    display: none;
}
.btn-create-project-fixed {
    color: #1F4CED;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    align-items: center;
    .ico {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: #1F4CED;
        margin-left: 15px;
        vertical-align: middle;
    }
}

.login-wrap {
    padding: 160px 0;
    min-height: 100vh;
    background: #F8FAFE url(../images/signin-bg.jpg) center center no-repeat;
    background-size: contain;
    margin-bottom: -50px;
    font-size: 16px;
    .login-rel {
        position: relative;
        z-index: 2;
    }
    .man {
        position: absolute;
        bottom: -10px;
        left: 28%;
        z-index: 1;
    }
    .title-page-auth {
        font-size: 50px;
        line-height: 1;
        font-weight: 900;
        margin-bottom: 30px;
    }
    .link {
        color: #1F4CED;
        &:hover {
            color: #000;
        }
    }
    .text {
        font-size: 16px;
    }
    .title-form {
        font-size: 32px;
        font-weight: 900;
        margin-top: 60px;
        margin-bottom: 15px;
    }
    .input-wrap {
        padding: 7px 0;
        position: relative;
        .btn-view-pass {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            &:hover {
                opacity: .8;
            }
        }
    }
    .input-style {
        width: 100%;
        padding: 15px 15px;
        background-color: #fff;
        border-radius: 8px;
        font-size: 14px;
        border: 1px solid transparent;
        transition: .2s;
        &:focus {
            border-color: #1F4CED;
        }
    }
    .btn {
        margin-top: 15px;
        width: 100%;
        font-size: 13px;
        font-weight: 400;
        padding: 15px;
    }
}


footer.footer {
    background-color: #010206;
    padding: 15px;
    color: #808183;
    font-size: 13px;
    margin-top: 50px;
    text-align: center;
}